@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styling */
/* For Webkit Browsers */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  @apply bg-brand-blue;
  border: 4px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-brand-blue;
  background-clip: content-box;
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 0%, 0.06);
  border-radius: 10px;
}

.html {
  @apply bg-brand-blue;
  scrollbar-width: thin;
}

body {
  -ms-overflow-style: scrollbar;
}

.hide-scroll::-webkit-scrollbar {
  width: 0px;
}
